html {
  background: url(images/veg-back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-size: 100% 100%;
}

nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
}

ul {
	list-style-type:none;
	font-family: 'Work Sans', sans-serif;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #66C917;
	border-right: 1px solid #ccc; 
}

h1 {
	font-family: 'Work Sans', sans-serif;
	color: #254908;
}

h3 {
	font-family: 'Work Sans', sans-serif;
	color: #32491E;
}

p {
	font-family: 'Work Sans', sans-serif;
	color: #4C9611;
}

.fresh {
	width: 768px;
	height: 512px;
}

.fresh img {
	width: 100%;
	height: auto;
}

.float-left {
	width: 384px;
	height: 256px;
}

.float-left img {
	width: 100%;
	height: auto;
	float: left;
	padding: 20px;
}

.social-media {
	background-color: #73007C;
}

#end {
	font-size: 20pt;
}
